#전공타이틀 {
  text-align: center;
  margin: 4px;
}
#DB전공 {
  background-color: rgba(212, 227, 248, 0.178);
  border-radius: 4px;
  box-shadow: 5px 5px 2px -3px rgb(227, 227, 233);
}
#전공선택 {
  background-color: rgba(209, 228, 245, 0.548);
  border-radius: 4px;
  border-color: azure;
  margin: 1px;
}
#전필 {
  background-color: rgb(255, 220, 175);
  border-radius: 4px;
  border-color: rgb(255, 226, 187);
  margin: 1px;
}
#그룹생성 {
  background-color: rgb(218, 218, 218);
  border-radius: 4px;
  border-color: rgb(194, 194, 194);
  margin: 2px;
}

/*StudyGropForm*/

#강좌명 {
  margin-right: 3px;
}

#group_lecture {
  margin-right: 18px;
  box-shadow: 5px 5px 2px -3px rgb(227, 227, 233);
}

#그룹속성 {
  margin-right: 3px;
}

#group_type {
  margin-right: 109px;
  box-shadow: 5px 5px 2px -3px rgb(227, 227, 233);
}

#제출 {
  background-color: rgba(160, 150, 144, 0.548);
  border-radius: 5px;
  font-size: 16px;
}

#groupMake {
  background-color: rgba(220, 230, 240, 0.548);
  text-align: right;
  box-shadow: 10px 10px 3px -3px rgb(227, 227, 233);
}

form {
  width: 90%;
}

input {
  border-color: azure;
  border-radius: 4px;
}
/*StudyGropForm*/
