<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="" method="post">
      <div>
        <label for="group_type">그룹 속성</label>
        <select name="group_type" id="group_type">
          <option value="study">스터디</option>
          <option value="tutoring">튜터링</option>
        </select>
      </div>
      <div>
        <label for="group_lecture">강좌명</label>
        
      <div>
        <label for="group_name">그룹명</label>
        <input type="text" id="roup_name">
      </div>
      <div>
        <label for="group_numOfMembers">인원수</label>
      </div>
      <div>
        <label for="group_goal">그룹 목표</label>
      </div>
      <div>
        <label for="group_plane">학업계획</label>
      </div>
      <div>

      </div>
      <label for="group_qualification">자격 요건</label>
    </form>
  </div>
</body>
</html>